<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>KBO Wiki</title>
</head>
<body>
	<h1><a href="/">KBO Wiki</a></h1>
	<section id="main">
		<%= yield %>
	</section>
</body>
</html>