<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>KBO Wiki</title>
</head>
<body><div class="wrapper">
	<h1><a href="/"><img src="http://upload.wikimedia.org/wikipedia/en/e/e8/KBO.PNG" alt="KBO Logo" height=150 width=250></a></h1>
	<section id="main">
		<%= yield %>
	</section>
	<hr>
	<footer><a href="/">Korean Baseball Organization Wiki</a></footer>
</div>
</body>
</html>