<h3>Korean Baseball Organization Wiki</h3>
	<div id="nav">
		<a href="/authors">Authors</a> |
		<a href="/documents">Documents</a>
	</div><br>

<form action="/documents/search" method="post">
	<label for="title">Search by Title (Case Sensitive)<br>
		<input type="text" name="title">
	</label><br>

	<input type="submit" name="submit">
</form>

