<a href="/authors/new">Become a KBO Wiki Author!</a><br>

<% @authors.each do |author| %>
				<p><%= author.given_name + " " + author.surname %></p>
				<li><a href="authors/<%= author.id %>"><%= author.username %></a></li>
<% end %>
<br>